body,
html {
  background: #3b57a7;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#3b57a7), to(#002650)) fixed;
  background: linear-gradient(0, #3b57a7, #002650) fixed;
  height: 100%;
}

datalist {
  background: white;
  
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left:  12px;
  padding-right: 12px;
}

@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media (min-width: 990px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}