@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #3b57a7;
  background: linear-gradient(180deg, #002750, #3b58a7) fixed;
  color: white;
}

/*
 * Header component
 */
.header {
  padding-top: 4em;
  padding-bottom: 4em;
}
.header__logo {
  display: block;
  margin: 0 auto;
}

/*
 * Input component
 */
.input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0.25em;
  padding: 1em 1em;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}
.input::placeholder {
  color: #B5C3D2;
}
.input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
}
.input:focus::placeholder {
  color: #859cb5;
}
.input--search {
  padding-left: 3em;
  background-image: url(../../assets/images/search.svg);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 1em;
}

/*
 * Search results component
 */
.search-results {
  display: none;
  position: absolute;
  margin-top: -0.25em;
  width: calc(100% - 2em);
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: white;
  z-index: 10;
}
.search-results > option {
  color: #222222;
  padding: 0.5em 1em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-results > option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/*
 * Search history component
 */
.search-history {
  display: none;
  position: relative;
  margin: 0;
  padding: 2em 0;
  list-style: none;
}
.search-history > li {
  padding: 0;
  margin: 0;
  display: block;
}
.search-history > li:after {
  content: '';
  display: table;
  clear: both;
}
.search-history > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.search-history__title,
.search-history__created,
.search-history__remove {
  float: left;
  display: block;
}
.search-history__title,
.search-history__created {
  padding: 1em 1em 1em 0;
}
.search-history__title {
  width: calc(100% - 13em);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-history__created {
  width: 9.5em;
}
.search-history__remove {
  width: 3.5em;
  height: 3.5em;
  padding: 1em;
  border: none;
  background-color: transparent;
  background-image: url(../../assets/images/close.svg);
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: 1em;
  cursor: pointer;
}
.search-history__remove:focus {
  outline: none;
}
.search-history > li:hover .search-history__remove {
  background-color: rgba(255, 0, 0, 0.5);
}
.search-history > li:hover .search-history__remove:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

/*
 * Wrapper component
 */
.wrapper {
  margin: 4em 0;
  background-color: rgba(255, 255, 255, 0.2);
}

/*
 * Container component
 */
.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left:  1em;
  padding-right: 1em;
}
@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 990px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}